@model DetailFormationViewModel
@{
    ViewData["Title"] = Model.Formation.Nom;
}

<h1>@Model.Formation.Nom</h1>

<p><b>@Model.Formation.Description</b></p>

<div>la formation est notée @Model.NoteMoyenne /5
    
    @for(int i=1; i<=Model.NoteMoyenne; i++)
    {
        <span class="fa fa-star orange"></span>
    }

</div>

<a asp-action="LaisserUnAvis" asp-controller="Avis" asp-route-idFormation="@Model.Formation.Id">Laisser un avis sur la formation</a>

<p>Voici ce qu'en disent les anciens élèves :</p>

@foreach (var avis in Model.Formation.Avis)
{
<div class="avis-block">
    <div>
        @avis.Note/5
        @for (int i = 1; i <= avis.Note; i++)
        {
            <span class="fa fa-star orange"></span>
        }
    </div>
    <div><i>@avis.NomUtilisateur</i></div>
    <div>@avis.Commentaire</div>

</div>
  
    

}

